{% extends 'geodjangoapp/base.html' %} {% block content %}

<div class="container">
  <h1 class="text-info font-weight-bold text-center tertiaryFont mt-5">
    Joe4Dev WorldClock
  </h1>
</div>

<div class="container">
  <div id="worldtime_map"></div>
  <div class="container mt-2">
    <div class="countrytimeinfo row">
      <div class="col-sm bg-light"></div>
      <div class="col-sm border border-light"></div>
      <div class="col-sm bg-light"></div>
    </div>
  </div>
</div>

{% endblock %}
