@font-face {
  font-family: "BarlowSemiCondensed-ExtraBold";
  src: url("../fontsAssets/BarlowSemiCondensed-ExtraBold.woff2") format("woff2"), url("../fontsAssets/BarlowSemiCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowSemiCondensed-Regular";
  src: url("../fontsAssets/BarlowSemiCondensed-Regular.woff2") format("woff2"), url("../fontsAssets/BarlowSemiCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowSemiCondensed-Thin";
  src: url("../fontsAssets/BarlowSemiCondensed-Thin.woff2") format("woff2"), url("../fontsAssets/BarlowSemiCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ComicNeue-Regular";
  src: url("../fontsAssets/ComicNeue-Regular.woff2") format("woff2"), url("../fontsAssets/ComicNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-ExtraBold";
  src: url("../fontsAssets/FiraSansCondensed-ExtraBold.woff2") format("woff2"), url("../fontsAssets/FiraSansCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-Regular";
  src: url("../fontsAssets/FiraSansCondensed-Regular.woff2") format("woff2"), url("../fontsAssets/FiraSansCondensed-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-Thin";
  src: url("../fontsAssets/FiraSansCondensed-Thin.woff2") format("woff2"), url("../fontsAssets/FiraSansCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IndieFlower";
  src: url("../fontsAssets/IndieFlower.woff2") format("woff2"), url("../fontsAssets/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fontsAssets/RobotoSlab-Regular.woff2") format("woff2"), url("../fontsAssets/RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-ExtraBold";
  src: url("../fontsAssets/RobotoSlab-ExtraBold.woff2") format("woff2"), url("../fontsAssets/RobotoSlab-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fontsAssets/RobotoSlab-Thin.woff2") format("woff2"), url("../fontsAssets/RobotoSlab-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signika-Regular";
  src: url("../fontsAssets/Signika-Regular.woff2") format("woff2"), url("../fontsAssets/Signika-Regular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sniglet-ExtraBold";
  src: url("../fontsAssets/Sniglet-ExtraBold.woff2") format("woff2"), url("../fontsAssets/Sniglet-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sniglet-Regular";
  src: url("../fontsAssets/Sniglet-Regular.woff2") format("woff2"), url("../fontsAssets/Sniglet-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERCondensed-ExtraBold";
  src: url("../fontsAssets/SONGERCondensed-ExtraBold.woff2") format("woff2"), url("../fontsAssets/SONGERCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERCondensed";
  src: url("../fontsAssets/SONGERCondensed.woff2") format("woff2"), url("../fontsAssets/SONGERCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERGrotesque-ExtraBold";
  src: url("../fontsAssets/SONGERGrotesque-ExtraBold.woff2") format("woff2"), url("../fontsAssets/SONGERGrotesque-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERGrotesque";
  src: url("../fontsAssets/SONGERGrotesque.woff2") format("woff2"), url("../fontsAssets/SONGERGrotesque.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERSemiExpanded-ExtraBold";
  src: url("../fontsAssets/SONGERSemiExpanded-ExtraBold.woff2") format("woff2"), url("../fontsAssets/SONGERSemiExpanded-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.primFont {
  font-family: "BarlowSemiCondensed-Regular";
}

.tertiaryFont {
  font-family: "BarlowSemiCondensed-ExtraBold";
}

.boldFont {
  font-weight: 700;
}

.semiBoldFont {
  font-weight: 600;
}

.whiteColor {
  color: white;
}

.darkPrimaryColor {
  color: #004666;
}

.primaryColor {
  color: #00aaff;
}

.brightPrimaryColorBG {
  background-color: #e6f7ff;
}

.largerFontSize {
  font-size: larger;
}

.line {
  border: solid #00aaff;
  border-width: 0 3px 0 0;
  display: inline-block;
  padding: 0.8em 0;
  margin: 4px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #336699;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #336699;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #336699;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #336699;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #336699;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #336699;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "BarlowSemiCondensed-Regular";
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  color: #004666;
}

body #homeWrapper {
  min-height: 75vh;
}
