{% extends 'geodjangoapp/base.html' %} {% block content %}

<div class="container text-info">
  <h1 class="font-weight-bold text-center tertiaryFont mt-5">
    GLOBAL VISION CENTER
  </h1>
  <p class="lead text-center mt-0">for a collective prosperity</p>
</div>

{% include 'geodjangoapp/dashboard.html' %}

<div id="map_and_contents" class="container">
  <div class="w-100 mx-auto" id="map_container"></div>
</div>

<script>
  const kenyaRegionsJson = '{{ regions_json|escapejs }}'
  const kenyaOfficesJson = '{{ offices_json|escapejs }}'
</script>


{% endblock %}
