{% extends 'geodjangoapp/base.html' %} {% block content %}

<div class="container text-info mt-5 mb-5">
  <h1 class="font-weight-bold text-center tertiaryFont mt-5">
    {{ office.name }} Office
  </h1>
  <h5 class="lead text-center mt-0">Vision Center Kenya <small>for a collective prosperity</small></h5>
</div>

<div class="container text-center">

  <div class="table-responsive-sm">
    <table class="table defaultFontSize mx-auto table-striped">
      <tr>
        <th>Name:</th>
        <td>{{ office.name }} Office</td>
      </tr>
      <tr>
        <th>Cartegory:</th>
        <td>{{ office.category|capfirst }} Office</td>
      </tr>
      <tr>
        <th>Number of Employees:</th>
        <td>{{ employees|length }}</td>
      </tr>
      <tr>
        <th rowspan="{{ employees|length|add:'1' }}">Employees:</th>
        <td class="font-weight-bold">Names:</td>
      </tr>
      {% for employee in employees %}
      <tr>
        <td>{{ employee }}</td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
  

  
</div>

{% endblock %}