{% extends 'geodjangoapp/base.html' %} {% block content %}

<div class="container text-info">
  <h1 class="font-weight-bold text-center tertiaryFont mt-5">OFFICES</h1>
  <h5 class="lead text-center mt-0">Vision Center Kenya <small>for a collective prosperity</small></h5>
</div>

<div class="container largerFontSize">
  <div class="jumbotron m-5">
    <h3 class="text-center">General Concept <small>Vision Center Kenya offices</small> </h3>
    <p></p>
    <p>
      Vision Center Kenya offices constitues a total of 13 offices accross the country.
      Of these, nine are field offices with each reporting to either of 3 regional offices, i.e. Three field offices report to 1 regional office.
    </p>
    <p>The 3 regional offices report to the head office in Nairobi.</p>
    <ul class="list-group">
      The report handed to the head office includes the following items:
      <li class="list-group-item">The area of coverage of each field office</li>
      <li class="list-group-item">The number of staff within an office</li>
      <li class="list-group-item">Issues the office is  addressing in the area</li>
    </ul>
    <p>
      <span>Basically,</span> the regional office is made up of a collection of 3 field offices.
      the head office brings together the regional offices.
    </p>
  </div>
</div>


{% endblock %}