{% extends 'geodjangoapp/base.html' %} {% block content %}

<div class="container text-info">
  <h1 class="font-weight-bold text-center tertiaryFont mt-5">{{ region.region|upper }} REGION</h1>
  <h5 class="lead text-center mt-0">Global Vision Center <small>for a collective prosperity</small></h5>
</div>


<div class="container">
    <div class="table-responsive-sm">
    <table class="table defaultFontSize mx-auto table-striped">
      <tr>
        <th>Name:</th>
        <td>{{ region.region }} Office</td>
      </tr>
      <tr>
        <th>Area:</th>
        <td>{{ region.geom.area }}</td>
      </tr>
    </table>
  </div>

  <div class="container mb-2">
  <h2>Offices in {{ region.region }}</h2>
  {% for office in offices_in_region %}
    <div class="list-group">
      <a href="{% url 'geodjangoapp:officedetailpage' office.id %}" class="list-group-item list-group-item-action">
        {{ office.name }}
      </a>
    </div>
  {% endfor %}
  </div>
  
</div>


{% endblock %}